<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.example.ktoe.mappers.ContentMapper">  <select id="getContentById" parameterType="com.example.ktoe.models.Content">    SELECT * FROM contents WHERE content_id = #{contentId}  </select>  <select id="getParagraphsByContentId" parameterType="com.example.ktoe.models.Content">    SELECT * FROM paragraphs WHERE content_id = #{contentId} ORDER BY paragraph_order  </select>  <select id="getSentencesByParagraphId" parameterType="com.example.ktoe.models.Paragraph">    SELECT * FROM sentences WHERE paragraph_id = #{paragraphId} ORDER BY sentence_order  </select>  <select id="getTokensBySentenceId" parameterType="com.example.ktoe.models.Sentence">    SELECT * FROM tokens WHERE sentence_id = #{sentenceId} ORDER BY token_order  </select></mapper>